<div style="width: 800px; margin: 25px auto; height: 500px">
  <mat-card class="example-card" style="height: 100%">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>{{cardTitle}}</mat-card-title>
      <mat-card-subtitle>{{cardSubTitle}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content style="position: relative; top: 80px; margin: auto; width: max-content">
      <p style="font-size: 60px">
        {{cardMessage}}
      </p>
    </mat-card-content>
  </mat-card>

</div>
